.input-field {
  margin: 0;
}

.input-field__input {
  background-color: transparent;
}

.input-field__label {
  display: block;
  box-sizing: border-box;
  max-height: 40px;
  padding-top: 5px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.input-field__input--radio + .input-field__label {
  position: relative;

  margin-bottom: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;

    border: 2px solid #000000;
    border-radius: 50%;
  }
}

.input-field__input--radio:checked + .input-field__label {
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;

    display: block;
    width: 16px;
    height: 16px;

    background-color: #62d1ba;
    border-radius: 50%;
  }
}

.input-field__input--checkbox + .input-field__label {
  position: relative;

  margin-bottom: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;

    border: 2px solid #000000;
  }
}

.input-field__input--checkbox:checked + .input-field__label {
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 6px;

    display: block;
    width: 33px;
    height: 23px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 27px 16px;
  }
}

.input-field__input--radio + .input-field__label:hover,
.input-field__input--radio:focus + .input-field__label,
.input-field__input--checkbox + .input-field__label:hover,
.input-field__input--checkbox:focus + .input-field__label {
  &::before {
    border-color: #62d1ba;
  }
}

.input-field__input--radio + .input-field__label:active,
.input-field__input--checkbox + .input-field__label:active {
  &::before {
    border-color: #c7c7c7;
  }
}


.input-field__input--text {
  box-sizing: border-box;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 18px;

  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;

  border: none;
  border-bottom: 2px solid #000000;
  outline: 0;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: rgba(68, 68, 68, 0.3);
    letter-spacing: 0.4px;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}

.input-field--with-icon {
  position: relative;

  .input-field__input {
    padding-right: 40px;
  }
}

.input-field__icon {
  position: absolute;
  opacity: 0.2;

  &--phone {
    right: 8px;
    bottom: 35px;
  }

  &--mail {
    right: 2px;
    bottom: 28px;
  }
}

.input-field--with-icon .input-field__input--text:hover + .input-field__icon,
.input-field--with-icon .input-field__input--text:focus + .input-field__icon {
  fill: #62d1ba;
  opacity: 1;
}

.input-field__input--textarea {
  box-sizing: border-box;
  width: 100%;
  height: 140px;
  margin-top: 15px;
  padding: 15px 15px 0;

  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;

  border: 2px solid #444444;
  outline: 0;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: rgba(68, 68, 68, 0.3);
    letter-spacing: 0.4px;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}


@media (min-width: $tablet-width) {
  .input-field {
    &--fixwidth {
      box-sizing: border-box;
      width: 262px;
    }
  }

  .input-field__icon {
    &--phone {
      right: 25px;
      bottom: 32px;
    }

    &--mail {
      right: 23px;
      bottom: 25px;
    }
  }

  .input-field__label {
    max-height: 51px;
    padding-top: 5px;

    font-size: 19px;
    line-height: 18px;
  }

  .input-field__input--text {
    padding-left: 15px;
  }

  .input-field--oneline {
    display: flex;
    margin-bottom: 12px;

    .input-field__label {
      margin-right: 25px;
      padding-top: 10px;
    }

    .input-field__input--text {
      margin-top: 10px;
    }
  }

  .input-field__input--radio + .input-field__label {
    margin-bottom: 25px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 80px;

    &::before {
      width: 52px;
      height: 52px;
    }
  }

  .input-field__input--radio:checked + .input-field__label {
    &::after {
      content: "";
      top: 16px;
      left: 16px;

      width: 21px;
      height: 21px;
    }
  }

  .input-field__input--checkbox + .input-field__label {
    margin-bottom: 25px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 80px;

    &::before {
      width: 54px;
      height: 54px;
    }
  }

  .input-field__input--checkbox:checked + .input-field__label {
    &::after {
      top: 18px;
      left: 9px;

      background-size: 33px 22px;
    }
  }
}

@media (min-width: $desktop-width) {
  .input-field__icon {
    &--phone {
      right: 5px;
    }

    &--mail {
      right: 4px;
    }
  }
}
