.page-footer {
  background-color: #f1f1f1;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1150px;
  height: 160px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.page-footer__logo {
  display: none;

  a {
    cursor: pointer;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.page-footer__social {
  margin-top: 25px;
  margin-bottom: 20px;
}

.page-footer__copyright {
  margin-top: 0;

  text-align: center;
}

.page-footer__copyright-link {
  font-weight: bold;
  font-size: 19px;
  color: #000000;
  text-decoration: none;

  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-icon {
  display: inline-block;
  margin-left: 30px;

  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 143px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .page-footer__logo {
    display: block;
    width: 200px;
  }

  .page-footer__social {
    margin-top: 50px;
  }

  .page-footer__copyright {
    width: 200px;
    margin-top: 20px;

    text-align: right;
  }
}
