@import "normalize.scss";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans Bold"),
    url("../fonts/opensansbold.woff") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

$mobile-only: 765px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  body {
    font-size: 17px;
    line-height: 30px;
  }
}

@import "blocks/visually-hidden.scss";
@import "blocks/modal.scss";
@import "blocks/page-header.scss";
@import "blocks/main-menu.scss";
@import "blocks/header-link.scss";
@import "blocks/intro.scss";
@import "blocks/goods-week.scss";
@import "blocks/button.scss";
@import "blocks/aboutus.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/basket-add.scss";
@import "blocks/catalog.scss";
@import "blocks/content-head.scss";
@import "blocks/product-card.scss";
@import "blocks/production.scss";
@import "blocks/order-form.scss";
@import "blocks/form-fieldset.scss";
@import "blocks/input-field.scss";
